{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
header %}{% endblock %} {% block content %}

<!-- Begin Page Content -->
<!-- Slide image -->
<div class="row" style="height: 450px">
  <div class="slide-container col-xl-12">
    <div class="slide-wrap">
      <div class="slide-image col-xl-12 bg-slide-image1" style="height: 450px">
        <a href="#container-fluid" class="text-overlay">Dự đoán giá nông sản</a>
      </div>
      <div class="slide-image col-xl-12 bg-slide-image2" style="height: 450px">
        <a href="#container-fluid" class="text-overlay">Dự đoán giá nông sản</a>
      </div>
      <div class="slide-image col-xl-12 bg-slide-image3" style="height: 450px">
        <a href="#container-fluid" class="text-overlay">Dự đoán giá nông sản</a>
      </div>
    </div>
  </div>
</div>
<div id="container-fluid" class="container-fluid" style="padding-top: 4px">
  <div class="row mt-4">
    <!-- Content Column -->
    <div class="col-xl-3">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
            Giá lúa 20/4/2024: 10.000đ
          </div>
          <div class="h6 mb-0 font-weight-bold text-warning">
            Giá dự đoán: 10.500đ
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2">
      <select class="form-control form-select col-xl-12" style="color: black">
        >
        <option selected="">Chọn mô hình</option>
        <option value="ARIMA">ARIMA</option>
        <option value="LSTM">LSTM</option>
      </select>
    </div>

    <div class="col-xl-2">
      <select class="form-control form-select col-xl-12" style="color: black">
        <option selected="">Chọn dữ liệu kết hợp</option>
        <option value="xuatkhau">Giá xuất khẩu</option>
        <option value="giaxang">Giá xăng</option>
      </select>
    </div>

    <div class="col-xl-2">
      <select class="form-control form-select col-xl-12" style="color: black">
        <option selected="">Chọn thời gian dự đoán</option>
        <option value="dudoan6">6 tháng</option>
        <option value="dudoan12">12 tháng</option>
      </select>
    </div>
  </div>
  <!-- Content Row -->

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-9 mt-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h5 class="m-0 font-weight-bold text-primary">
            Biểu đồ dự đoán giá nông sản
          </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-3 mt-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h5 class="m-0 font-weight-bold text-primary">Thị trường</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie">
            <!-- Card 1 -->
            <div class="col-xl-12 col-md-6 mb-2">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="h6 font-weight-bold text-primary text-uppercase mb-1"
                      >
                        Giá cà phê
                      </div>
                      <div
                        class="h6 mb-0 font-weight-bold text-primary text-gray-800"
                      >
                        Hôm nay: 10.000đ
                      </div>
                    </div>
                    <div class="col-auto">
                      <i
                        class="fas fa-arrow-trend-up text-success"
                        style="font-size: 1.5em"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col-xl-12 col-md-6 mb-2">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="h6 font-weight-bold text-primary text-uppercase mb-1"
                      >
                        Giá xoài
                      </div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">
                        Hôm nay: 10.000đ
                      </div>
                    </div>
                    <div class="col-auto">
                      <i
                        class="fas fa-arrow-trend-up text-success"
                        style="font-size: 1.5em"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col-xl-12 col-md-6">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="h6 font-weight-bold text-primary text-uppercase mb-1"
                      >
                        Giá dưa hấu
                      </div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">
                        Hôm nay: 10.000đ
                      </div>
                    </div>
                    <div class="col-auto">
                      <i
                        class="fas fa-arrow-trend-down text-danger"
                        style="font-size: 1.5em"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-lg-8 mb-4 mt-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Giá nông sản</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow-x: hidden">
            <div
              id="dataTable_wrapper"
              class="dataTables_wrapper dt-bootstrap4"
            >
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table
                    class="table table-bordered dataTable"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                    role="grid"
                    aria-describedby="dataTable_info"
                    style="width: 100%"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 160px"
                        >
                          Ngày
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-label="Position: activate to sort column ascending"
                          style="width: 246px"
                        >
                          Giá
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd">
                        <td class="sorting_1">04/01/2002</td>
                        <td>$999,999.00</td>
                      </tr>
                      <tr class="odd">
                        <td class="sorting_1">04/01/2002</td>
                        <td>$999,999.00</td>
                      </tr>
                      <tr class="odd">
                        <td class="sorting_1">04/01/2002</td>
                        <td>$999,999.00</td>
                      </tr>
                      <tr class="odd">
                        <td class="sorting_1">04/01/2002</td>
                        <td>$999,999.00</td>
                      </tr>
                      <tr class="odd">
                        <td class="sorting_1">04/01/2002</td>
                        <td>$999,999.00</td>
                      </tr>
                      <tr class="odd">
                        <td class="sorting_1">04/01/2002</td>
                        <td>$999,999.00</td>
                      </tr>
                      <tr class="even"></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mt-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h5 class="m-0 font-weight-bold text-primary">
            Top mô hình có độ chính xác cao
          </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie d-flex flex-column align-items-start"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

  {% endblock %}
</div>
