{% extends "layout.html" %} {% block title %}Dự đoán giá nông sản{% endblock %} {% block
header %}{% endblock %} {% block content %}

<!-- Begin Page Content -->
<!-- Slide image -->
<div class="row" style="height: 450px">
  <div class="slide-container col-xl-12">
    <div class="slide-wrap">
      <div class="slide-image col-xl-12 bg-slide-image1" style="height: 450px">
        <a href="#container-fluid" class="text-overlay">Dự đoán giá nông sản</a>
      </div>
      <div class="slide-image col-xl-12 bg-slide-image2" style="height: 450px">
        <a href="#container-fluid" class="text-overlay">Dự đoán giá nông sản</a>
      </div>
      <div class="slide-image col-xl-12 bg-slide-image3" style="height: 450px">
        <a href="#container-fluid" class="text-overlay">Dự đoán giá nông sản</a>
      </div>
    </div>
  </div>
</div>


<div id="container-fluid" class="container-fluid mt-2" style='padding: 0'>
  <div class="row shadow" style="padding: 0">
    <!-- Card 1 -->
    <a id="coffee" href="#coffee" class="col-xl-4 price-agricutural active">
      <div class="card-price h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                Giá cà phê
              </div>
              <div class="h5 mb-0 font-weight-bold text-primary text-gray-800">
                Hôm nay: 10.000đ
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-arrow-trend-up text-success" style="font-size: 1.5em"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Card 2 -->
    <a id="mango" href="#mango" class="col-xl-4 price-agricutural">
      <div class="card-price h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                Giá xoài
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Hôm nay: 10.000đ
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-arrow-trend-up text-success" style="font-size: 1.5em"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Card 3 -->
    <a id="watermelon" href="#watermelon" class="col-xl-4 price-agricutural">
      <div class="card-price h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                Giá dưa hấu
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Hôm nay: 10.000đ
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-arrow-trend-down text-danger" style="font-size: 1.5em"></i>
            </div>
          </div>
        </div>
      </div>
    </a>    
  </div>
  
</div>
  <!-- Content Row -->

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-9 mt-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h5 class="m-0 font-weight-bold text-primary">
            Biểu đồ dự đoán giá nông sản
          </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="charts-container" style="height: 100%;">
            <div id="LSTM-30days-univariate-coffee" class="chart-area" style="height: auto; position: relative; opacity: 1;">
              {% include './chart/lstm-30days-univariate-coffee.html' %}
            </div>
            {% for model in models %}
              {% for time in ["30days", "60days"] %}
                {% set chart_type = "coffee" %}
                  <div id="{{ model.name }}-{{ time }}-univariate-coffee" class="chart-area" style="height: auto; position: absolute; opacity: 0;">
                    {% set chart_filename = model.name + '-' + time + '-univariate-' + chart_type + '.html' %}
                    {% include url_for('static', filename='chart/' + chart_filename) %}
                  </div>
              {% endfor %}
            {% endfor %}
          </div>  
        </div>   
      </div>
    </div>
    <!-- Select area -->
    <div class="col-xl-3 mt-4">
      <div class="col-xl-12 mt-4 mb-4">
        <div class="row no-gutters">
          <div class="col mr-2">
            <div
              class="h4 font-weight-bold text-uppercase text-gray-800 mb-1" style="text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);"
            >
              Giá cà phê 5/5/2024: <strong>100.000đ</strong>
            </div>
            <div
              class="h4 mb-0 font-weight-bold text-warning" style="text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);"
            >
              Giá dự đoán: 100.000đ
            </div>
          </div>
        </div>      
      </div>      

        <div class="row mr-2"> 
          <div class="col-xl-12 col-md-6 mt-4">
            <select id="model-select" class="form-control form-select col-xl-12" style="color: black">
              {% for model in models %}
                {% if model.name == 'LSTM' %}
                <option value="{{model.name}}" selected>{{model.name}}</option> 
                {% else %}
                  <option value="{{model.name}}">{{model.name}}</option>
                {% endif %}
              {% endfor %}
            </select>        
          </div>
      
          <div class="col-xl-12 col-md-6 mt-4">
            <select class="form-control form-select col-xl-12" style="color: black">
              <option value="giacaphe" selected>Giá cà phê</option>
              <option value="xuatkhau">Giá cà phê và xuất khẩu</option>
              <option value="giaxang">Giá cà phê và xăng</option>
            </select>
          </div>
      
          <div class="col-xl-12 col-md-6 mt-4">
              <select id="time-select" class="form-control form-select col-xl-12" style="color: black">
                <option value="30days" selected>30 ngày</option>
                <option value="60days">60 ngày</option>
              </select>
          </div>
        </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4 mt-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Giá nông sản</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow-x: hidden">
            <div
              id="dataTable_wrapper"
              class="dataTables_wrapper dt-bootstrap4"
            >
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table
                    class="table table-bordered dataTable"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                    role="grid"
                    aria-describedby="dataTable_info"
                    style="width: 100%"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 160px"
                        >
                          <strong>Ngày</strong>
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-label="Position: activate to sort column ascending"
                          style="width: 246px"
                        >
                          <strong>Giá</strong>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in last_10_records %}
                      <tr style="font-weight: normal;" onmouseover="this.style.fontWeight='bold';" onmouseout="this.style.fontWeight='normal';">
                        <td>{{ data.date }}</td>
                        <td>{{ data.price }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4 mt-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h5 class="m-0 font-weight-bold text-primary">
            Top mô hình có độ chính xác cao
          </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <table
          class="table table-bordered dataTable"
          id="dataTable"
          width="100%"
          cellspacing="0"
          role="grid"
          aria-describedby="dataTable_info"
          style="width: 100%"
        >
          <thead>
            <tr role="row">
              <th
                class="sorting sorting_asc"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-sort="ascending"
                aria-label="Name: activate to sort column descending"
                style="width: 160px"
              >
                Tên
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Position: activate to sort column ascending"
                style="width: 246px"
              >
                Đánh giá
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd">
              <td class="sorting_1">hoaithuong.data@gmail.com</td>
              <td>RMSE: 500</td>
            </tr>
        
            <tr class="even"></tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

  {% endblock %}
</div>
