<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% block title %}{% endblock %}</title>
  <style>
    .modebar {
      display: none !important;
    }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/font-awesome.min.css" />

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-9rL9kStcViGNevkdDcThY6T4tz3Yd+X/YG9JXRg7GFySfPM+F2EMMtT3YX6t5p0PQbZtK7zTDWwWQ5gdvJzgLg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/6.2.10/css/jsplumb.min.css"
    integrity="sha512-TEiIjPFAwtobaoJBrKZz1R/mzqgXvWIJt+nmgRQzPx4od18DsipNhW14gdXuDGd3ypZzAj6ks3EI0vSjrHeQPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  {% endblock %}
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    {% block header %}

    <!-- Sidebar -->
    <ul class="navbar-nav bg-primary bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      {% if session['is_authen'] %}
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">Agricultural Predict</div>
      </a>
      {% endif %}

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/admin" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chart-area"></i>
          <span class="text-uppercase">Model</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/upload-model" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-upload fa-2x "></i>
          <span class="text-uppercase">Upload Mô Hình</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/train-model" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-tasks fa-2x "></i>
          <span class="text-uppercase">Train Trên Web</span></a>
      </li>

      {% if session['role'] == 'ADMIN' %}
      <li class="nav-item">
        <a class="nav-link " href="/model-relationship" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fa fa-id-card-o fa-2x "></i>
          <span class="text-uppercase">Hiển thị mô hình</span></a>
      </li>
      {% endif %}

    </ul>

    {% endblock %}

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
        {% block slibar %}

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div id="header-text" class="sidebar-brand-text mx-3 font-weight-bold text-primary">
              Agricultural Predict
            </div>
            <script>
              var url = window.location.href
              if (url.includes('admin') ||
                url.includes('upload-model') ||
                url.includes('train-model') ||
                url.includes('model-relationship')) {
                document.querySelector('#header-text').innerText = ''
              } else {
                document.querySelector('#header-text').innerText = 'Agricultural Predict'
              }
            </script>
          </form>


          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              {% if session['is_authen'] %}
              <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" href="admin">
                <span id="username" class="mr-2 d-none d-lg-inline text-gray-600 small">
                  {{session['username']}}
                </span>
                <img class="img-profile rounded-circle" src="img/undraw_profile.svg" />
              </a>

              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="admin">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Dashboard
                </a>

                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>

              {% else %}

              <a class="dropdown-item mt-3 font-weight-bold" href="{{url_for('main_router.login')}}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Login
              </a>

              {% endif %}
            </li>
          </ul>
        </nav>
        {% endblock %} {% block content %} {% endblock %}
      </div>

      {% block footer %}
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span class="text-primary font-weight-bold">HCMUTE - Final Project 2024</span>
          </div>
        </div>
      </footer>
      {% endblock %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Bạn sẽ đăng xuất khỏi ứng dụng</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Hủy
          </button>
          <a class="btn btn-primary" href="logout">Đồng ý</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>


  <script src="https://kit.fontawesome.com/03fd139e3c.js" crossorigin="anonymous"></script>

</body>

</html>