{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block content %}

<style>
  .modebar {
display: none !important;
}
  </style>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-flex align-items-center justify-content-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chi tiết mô hình</h1>
  </div>

  <!-- Content Row -->

  <div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 font-weight-bold text-primary">Thông tin mô hình {{ model_data.model_id }}</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie d-flex flex-column align-items-start">
            <h6 class="mb-4" style="display: block; text-align: left">
              Tên mô hình: {{model_data.name}}
            </h6>
            <h6 class="mb-4" style="display: block; text-align: left">
              Dữ liệu: {{model_data.data_name}}
            </h6>
            <h6 class="mb-4" style="display: block; text-align: left">
              Đánh giá:
            </h6>
            <p class="mb-4 ml-2" style="display: block; text-align: left">   MAPE: {{ model_data.score['mape'] }}</p>
            <p class="mb-4 ml-2" style="display: block; text-align: left">   RMSE: {{ model_data.score['rmse']  }}</p>
          </div>
        </div>
      </div>
    </div>

  

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 font-weight-bold text-primary">Biểu đồ của mô hình</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
  
            {% include url_for('static', filename='chart/' + chart_name + '.html') %}
      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

{% endblock %}