{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Content Row -->

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tổng quan</h1>
        </div>

        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                >
                                    Tổng mô hình
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_model }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Content Row -->

        <div class="row">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Danh sách mô hình</h1>

                    <a href="upload-model"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary text-light p-2 shadow-sm"
                    ><i class="fas fa-plus fa-sm text-white-50"></i> Thêm mới</a
                    >
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table
                                    class="table table-bordered"
                                    id="dataTable"
                                    width="100%"
                                    cellspacing="0"
                            >
                                <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Ngày</th>
                                    <th>Mô hình</th>
                                    <th>Dữ liệu</th>
                                    <th>Đánh giá</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for model in train_model_list %}
                                    <tr>
                                        <td>
                                            <i class="bi bi-circle-fill"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title='
                                               {% if model.status == 'ERROR' %}
                                                        Thất bại
                                                        {% else %}
                                                        Thành công
                                                    {% endif %}'

                                               style="color:
                                                    {% if model.status == 'ERROR' %}
                                                        red
                                                        {% else %}
                                                        green
                                                    {% endif %}">

                                            </i>
                                            <a href="{{ url_for('upload_model_router.admin_detail_model', model_id=model._id ) }}">
                                              <span class="text-primary"># {{ model._id }}</span>
                                              <br/> 
                                              <span class="font-weight-bold">{{ model.name }}</span>
                                              
                                            </a>
                                        </td>
                                        <td>{{ model.create_time.strftime('%d-%m-%Y') }}</td>
                                        <td>
                                          <p class="m-0">{{ model.model_name }}</p>
                                          <p class="badge badge-primary m-0">
                                            {{ model.type_convert }}
                                          </p>
                                        </td>
                                        <td>{{ model.data_name }}</td>
                                        <td>RMSE: {{ model.evaluate['rmse'] }}
                                            <br>
                                            MAPE: {{ model.evaluate['mape'] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

{% endblock %}
