{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <a href="upload-model">
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card  shadow h-100 py-2">
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Upload mô hình
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-upload fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </a>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="train-model">
            <div class="card border-primary border  border-5 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold  text-primary text-uppercase mb-1">
                                Train trên web
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tasks fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Earnings (Monthly) Card Example -->

</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Train model</h1>
</div>



<!-- Begin Page Content -->
<div class="container-fluid  p-0 mb-3">
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <form>
            <div class="col-12 d-flex p-0">
                <div class=" mt-2  col-6">
                    <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                </div>

                <div class=" mt-2  col-6">
                    <input type="text" class="form-control" placeholder="Model" aria-describedby="basic-addon1">
                </div>
                <div class=" mt-2 col-6">
                    <button type="submit" class=" btn btn-primary">Save</button>
                </div>
            </div>
        </form>

    </div>

</div>


<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active mt-2 border-0" id="v-pills-home-tab" data-toggle="pill"
                data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true">Bước 1:</button>
            <button class="nav-link mt-2 border-0" id="v-pills-profile-tab" data-toggle="pill"
                data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                aria-selected="false">Bước 2:</button>
            <button class="nav-link mt-2 border-0" id="v-pills-messages-tab" data-toggle="pill"
                data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                aria-selected="false">Bước 3:</button>
            <button class="nav-link mt-2 border-0" id="v-pills-settings-tab" data-toggle="pill"
                data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                aria-selected="false">Bước 4:</button>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                ...</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
            </div>
        </div>
    </div>
</div>


</div>
<!-- /.container-fluid -->

<script>
    let dropArea = document.getElementById("drop-area");

    ["dragenter", "dragover", "dragleave", "drop"].forEach((eventName) => {
        dropArea.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
    });

    ["dragenter", "dragover"].forEach((eventName) => {
        dropArea.addEventListener(eventName, highlight, false);
    });

    ["dragleave", "drop"].forEach((eventName) => {
        dropArea.addEventListener(eventName, unhighlight, false);
    });

    dropArea.addEventListener("drop", handleDrop, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight(e) {
        dropArea.classList.add("highlight");
    }

    function unhighlight(e) {
        dropArea.classList.remove("highlight");
    }

    function handleDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files;
        handleFiles(files);
    }

    function handleFiles(files) {
        [...files].forEach(uploadFile);
    }

    function uploadFile(file) {
        // thêm code update ơ day
        console.log("Uploading", file.name);
    }

    dropArea.addEventListener("click", () => {
        fileElem.click();
    });

    let fileElem = document.getElementById("fileElem");
    fileElem.addEventListener("change", function (e) {
        handleFiles(this.files);
    });
</script>

{% endblock %}