{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"
            integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css"
          integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.min.css"
          integrity="sha512-6xVTeh6P+fsqDhF7t9sE9F6cljMrK+7eR7Qd+Py7PX5QEVVDLt/yZUgLO22CXUdd4dM+/S6fP0gJdX2aSzpkmg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <a href="upload-model">
                <div class="col-xl-3 col-md-6 mb-4 ">
                    <div class="card  shadow h-100 py-2">
                        <div class="card-body ">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Upload mô hình
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-upload fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
            </a>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="train-model">
                <div class="card border-primary border  border-5 shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-primary text-uppercase mb-1">
                                    Train trên web
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-tasks fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Earnings (Monthly) Card Example -->

    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0  text-dark font-bold">TRAIN MODEL</h1>
    </div>


    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active mt-2 border-0" id="v-pills-home-tab" data-toggle="pill"
                        data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Bước 1
                </button>
                <button class="nav-link mt-2 border-0" id="v-pills-profile-tab" data-toggle="pill"
                        data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Bước 2
                </button>
                <button class="nav-link mt-2 border-0" id="v-pills-messages-tab" data-toggle="pill"
                        data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Bước 3
                </button>
                <button class="nav-link mt-2 border-0" id="detail-tab" data-toggle="pill" data-target="#detail-content"
                        type="button" role="tab" aria-controls="detail-content" aria-selected="false">Bước 4
                </button>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                     <h5 class="text-uppercase text-dark font-bold">Chọn Model</h5>
                    <form class="p-0 mt-3">
                        <div class=" mt-2 col-12 p-0">
                            <select name="model_name" id="model_name" onchange="this.options[this.selectedIndex].value
                        && (window.location = this.options[this.selectedIndex].value);" id="select"
                                    class="form-control form-select">
                                <option value="upload-model">Mô hình</option>
                                {% for item in model_names %}
                                    <option value="{{ 'train-model?model_name=' ~ item }}" {% if item==model_name %}
                                            selected {% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="col-12 flex p-0 mt-3 ">
                            <div class="mt-2  col-12 p-0">
                                <select id="data_name" name="data_name" class="form-control form-select">
                                    <option>Tập dữ liệu</option>
                                    {% for item in data.data %}
                                        <option value="{{ item }}">{{ item['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>



                        <div id='myChart' class="col-12 mt-3"></div>
                    </form>


                </div>
                <div class="tab-pane fade text-dark" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">
                    <h5 class="text-uppercase text-dark font-bold">Chọn số Layer</h5>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="button" id="add-input" class="btn btn-primary" style="margin: 0 32px 0 8px;">+</button>
                            <button type="button" id="remove-input" class="btn btn-danger">-</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-xl-3" id="input-container">
                            <!-- Ô input ban đầu -->
                            <div class="form-check mt-3">
                                <div>
                                    <label for="flexInputDefault1"><STRONG>LAYER 1</STRONG></label>
                                    <div class="d-flex align-items-center">
                                        <span>Unit:</span>
                                        <input class="form-control ml-2" type="text" id="flexInputDefault1" name="flexInputDefault1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade text-dark" id="v-pills-messages" role="tabpanel"
                     aria-labelledby="v-pills-messages-tab">

                    <form id="trainModelForm" action="" method="post">
                        <h5 class="text-uppercase text-dark font-bold">Kích thước chia tập dữ liệu</h5>
                        <div class="d-flex align-items-center my-3">

                            <input id="size" name="size" value="80" min="0" max="100" type="range"
                                   class="form-range mr-2"
                                   style="width: 80%;"/>

                            <span>
                            <span id="curr">50%</span>
                        </span>
                        </div>

                        <h5 class="text-uppercase text-dark font-bold mt-4">Chọn tham số</h5>
                        <div id="param" class="col-12 col-xl-6">
                            {% if params_render %}
                                {% for value in params_render %}

                                    {% for k, v in  value.items() %}
                                        <div class="input-group mt-3">
                                            <span class="input-group-text  rounded-start"> {{ k }}</span>
                                            {% for i in  v %}
                                                <input type="text" id='{{ i }}' name='{{ i }}' placeholder='{{ i }}'
                                                       aria-label="First name"
                                                       class="form-control">
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div id="param" class="col-12 col-xl-12 mt-4">
                            <button type="submit" class="w-100 btn btn-primary">Train mô hình</button>
                        </div>
                    </form>


                </div>
                <div class="tab-pane fade" id="detail-content" role="tabpanel" aria-labelledby="detail-tab">
                    <h5 class="text-uppercase text-dark font-bold mt-4">Chi tiết mô hình</h5>
                    <div class="row">
                        <div class="col-12 col-xl-3">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class="m-0 font-weight-bold text-primary">Thông tin mô hình</h5>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie d-flex flex-column align-items-start">
                                        <h6 class="mb-4" style="display: block; text-align: left">
                                            Tên mô hình: <span id="model_detail_name">(Trống)</span>
                                        </h6>
                                        <h6 class="mb-4" style="display: block; text-align: left">
                                            Đánh giá:
                                        </h6>
                                        <p class="mb-4 ml-2" style="display: block; text-align: left"> MAPE: <span
                                                id="model_detail_mape">(Trống)</span></p>
                                        <p class="mb-4 ml-2" style="display: block; text-align: left"> RMSE: <span
                                                id="model_detail_rmse">(Trống)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-9">
                            <div class="card shadow">
                                <div id='myChartTrainModel' class="col-12"></div>
                            </div>
                        </div>
                    </div>

                    <div id="param" class="col-12 col-xl-12 mt-4">
                        <button type="button" id="submitModel" class="w-100 btn btn-primary">Submit mô hình</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modelTrainingInProcess" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-dark">

                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <p>Đang xử lí</p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->\
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>


    <script src="js/train-model-rnn.js">


    </script>

{% endblock %}