{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"
    integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css"
    integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.min.css"
    integrity="sha512-6xVTeh6P+fsqDhF7t9sE9F6cljMrK+7eR7Qd+Py7PX5QEVVDLt/yZUgLO22CXUdd4dM+/S6fP0gJdX2aSzpkmg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin"><i class="fa fa-home pb-1" style="font-size: 14px;" aria-hidden="true">
                    </i> Home
                </a>
            </li>
          <li class="breadcrumb-item active"><a>Train Model</a></li>
        </ol>
      </nav>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">TRAIN MODEL</h1>
    </div>

    <div id="modelId" class="d-none">{{ model_id }}</div>

    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active mt-2 border-0" id="v-pills-home-tab" data-toggle="pill"
                    data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">Bước 1
                </button>
                <button class="nav-link mt-2 border-0" id="v-pills-profile-tab" data-toggle="pill"
                    data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false">Bước 2
                </button>
                <button class="nav-link mt-2 border-0" id="v-pills-messages-tab" data-toggle="pill"
                    data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                    aria-selected="false">Bước 3
                </button>
                <button class="nav-link mt-2 border-0" id="detail-tab" data-toggle="pill" data-target="#detail-content"
                    type="button" role="tab" aria-controls="detail-content" aria-selected="false">Bước 4
                </button>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <h5 class="text-uppercase text-dark font-bold">Chọn Model</h5>
                    <form class="p-0 mt-3">
                        <div class=" mt-2 col-12 p-0">
                            <select name="model_name" id="model_name" onchange="this.options[this.selectedIndex].value
                        && (window.location = this.options[this.selectedIndex].value);" id="select"
                                class="form-control form-select">
                                <option value="upload-model">Mô hình</option>
                                {% for item in model_names %}
                                {% if item == "LSTM" or item == "GRU" or item == "BiLSTM" %}
                                <option value="{{ 'train-model-rnn?model_name=' ~ item }}" {% if item==model_name %}
                                    selected {% endif %}>{{ item }}</option>
                                {% else %}
                                <option value="{{ 'train-model?model_name=' ~ item }}" {% if item==model_name %}
                                    selected {% endif %}>{{ item }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>


                        <div class="col-12 flex p-0 mt-3 ">
                            <div class="mt-2  col-12 p-0">
                                <select id="data_name" name="data_name" class="form-control form-select">
                                    <option>Tập dữ liệu</option>
                                    {% if data %}
                                        {% for item in data %}
                                            <option value="{{ item }}">{{ item['name'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        {% if data %}
                            <div class="col-12 d-flex p-0 mt-2 ">
                                <div class="mt-2 col-6 pl-0">
                                    <select id="smoothing_data" name="smoothing_data" class="form-control form-select">
                                        <option value="">Chọn Smoothing</option>
                                        <option value="moving_average">Moving average smoothing</option>
                                        <option value="exponential">Exponential smoothing</option>
                                        <option value="double_exponential">Double exponential smoothing</option>    
                                    </select>
                                </div>
                                <div class="mt-2  col-6 p-0">
                                    <input type="number" class="form-control" id="smoothing_value" placeholder="Windown/Alpha">
                                </div>
                            </div>
                        {% endif %}

                        <div id='myChart' class="col-12 mt-3"></div>
                    </form>
                </div>

                <!-- Bước 2 -->
                <div class="tab-pane fade text-dark" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">
                    <h5 class="text-uppercase text-dark font-bold">Chọn số Layer</h5>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="button" id="add-input" class="btn btn-primary" style="margin: 0 20px 0 8px;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" id="remove-input" class="btn btn-danger">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3 col-12">
                        <div class="col-12 col-xl-6" id="input-container">
                            <div class="form-check mt-3">
                                <div>
                                    <label for="flexInputDefault1"><strong>LAYER 1</strong></label>
                                    <div class="d-flex align-items-center">
                                        <span>Unit:</span>
                                        <input class="form-control ml-2 w-100" type="text" id="flexInputDefault1"
                                            name="flexInputDefault1" oninput="saveLayersToSession()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bước 3 -->
                <div class="tab-pane fade text-dark" id="v-pills-messages" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">

                    <form id="trainModelForm" action="" method="post">
                        <h5 class="text-uppercase text-dark font-bold">Kích thước chia tập dữ liệu</h5>
                        <div class="d-flex align-items-center my-3">

                            <input id="size" name="size" value="80" min="0" max="100" type="range"
                                class="form-range mr-2" style="width: 80%;" />

                            <span>
                                <span id="curr">50%</span>
                            </span>
                        </div>

                        <h5 class="text-uppercase text-dark font-bold mt-4">Chọn tham số</h5>
                        <div id="input-container">
                            <div class="form-check mt-3">

                                <div class="row">
                                    <div class="col-xl-12 align-items-center mt-2">
                                        <label for="flexInputDefault2"><strong class="text-primary">Optimizer:
                                                Adam</strong></label><br>
                                        <label for="flexInputDefault2"><strong class="text-primary">Loss: Mean Squared
                                                Error</strong></label>
                                    </div>
                                    <div class="col-xl-12 d-flex align-items-center mt-2">
                                        <span class="col-2">Time step</span>
                                        <input class="form-control ml-2" type="text" id="timestep" name="timestep"
                                            oninput="saveTimestepToSession('timestep', this.value)">
                                    </div>
                                    <div class="col-xl-12 d-flex align-items-center mt-2">
                                        <span class="col-2">Epoch</span>
                                        <input class="form-control ml-2" type="text" id="epochs" name="epochs"
                                            oninput="saveEpochsToSession('epochs', this.value)">
                                    </div>
                                    <div class="col-xl-12 d-flex align-items-center mt-2">
                                        <span class="col-2">Batch size</span>
                                        <input class="form-control ml-2" type="text" id="batchsize" name="batchsize"
                                            oninput="saveBatchsizeToSession('batchsize', this.value)">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="param" class="col-12 col-xl-12 mt-4">
                            <button type="submit" class="w-100 btn btn-primary">Train mô hình</button>
                        </div>
                    </form>


                </div>
                <div class="tab-pane fade" id="detail-content" role="tabpanel" aria-labelledby="detail-tab">
                    <h5 class="text-uppercase text-dark font-bold mt-4">Chi tiết mô hình
                        <button type="button" id="reloadModel" class="btn btn-outline-secondary"><i
                                class="bi bi-arrow-repeat"></i></button>

                    </h5>

                    <div class="row">
                        <div class="col-12 col-xl-3">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class=" font-weight-bold text-primary">
                                        Thông tin mô hình
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie d-flex flex-column align-items-start">
                                        <h6 class="mb-4" style="display: block; text-align: left">
                                            Tên mô hình: <span id="model_detail_name">(Trống)</span>
                                        </h6>
                                        <h6 class="mb-4" style="display: block; text-align: left">
                                            Đánh giá:
                                        </h6>
                                        <p class="mb-4 ml-2" style="display: block; text-align: left"> MAPE: <span
                                                id="model_detail_mape">(Trống)</span></p>
                                        <p class="mb-4 ml-2" style="display: block; text-align: left"> RMSE: <span
                                                id="model_detail_rmse">(Trống)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-9">
                            <div class="card shadow">
                                <div id='myChartTrainModel' class="col-12"></div>
                            </div>
                        </div>
                    </div>

                    <div id="param" class="col-12 col-xl-12 mt-4">
                        <button type="button" id="submitModel" class="w-100 btn btn-primary">Submit mô hình</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modelTrainingInProcess" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <p class="text-center">Train mô hình</p>

                    <div class="">
                        <div class="row align-items-start">
                            <div id="pipeline-step" class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h6 class="card-title text-primary font-bold font-weight-normal">
                                            <div class='spinner-border text-secondary'
                                                style="width: 15px; height: 15px;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            Setup Pipeline
                                        </h6>
                                        <span class="badge badge-primary">Đang xử lí</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div
<!-- /.container-fluid -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>


<script src="js/train-model-rnn.js">


</script>

{% endblock %}