{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"
    integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css"
    integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin"><i class="fa fa-home pb-1" style="font-size: 14px;" aria-hidden="true">
                    </i> Home
                </a>
            </li>
          <li class="breadcrumb-item active"><a>Train Model</a></li>
        </ol>
      </nav>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">TRAIN MODEL {{ model_name }}</h1>
    </div>

    <div id="modelId" class="d-none">{{ model_id }}</div>

    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active mt-2 border-0" id="v-pills-home-tab" data-toggle="pill"
                    data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">Bước 1
                </button>
                <button class="nav-link mt-2 border-0" id="v-pills-profile-tab" data-toggle="pill"
                    data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false">Bước 2
                </button>
                <button class="nav-link mt-2 border-0" id="v-pills-messages-tab" data-toggle="pill"
                    data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                    aria-selected="false">Bước 3
                </button>
                <button class="nav-link mt-2 border-0" id="detail-tab" data-toggle="pill" data-target="#detail-content"
                    type="button" role="tab" aria-controls="detail-content" aria-selected="false">Bước 4
                </button>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <h5 class="text-uppercase text-dark font-bold">Chọn Model</h5>
                    <form class="p-0 mt-3">
                        <div class=" mt-2 col-12 p-0">
                            <select name="model_name" id="model_name" onchange="this.options[this.selectedIndex].value
                        && (window.location = this.options[this.selectedIndex].value);" id="select"
                                class="form-control form-select">
                                <option value="upload-model">Mô hình</option>
                                {% for item in model_names %}
                                {% if item == "LSTM" or item == "GRU" or item == "BiLSTM" %}
                                    <option value="{{ 'train-model-rnn?model_name=' ~ item }}" {% if item==model_name %}
                                        selected {% endif %}>{{ item }}</option>
                                {% else %}
                                    <option value="{{ 'train-model?model_name=' ~ item }}" {% if item==model_name %}
                                        selected {% endif %}>{{ item }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>


                        <div class="col-12 flex p-0 mt-3 ">
                            <div class="mt-2  col-12 p-0">
                                <select id="data_name" name="data_name" class="form-control form-select">
                                    <option>Tập dữ liệu</option>
                                    {% if data %}
                                        {% for item in data %}
                                            <option value="{{ item }}">{{ item['name'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        {% if data %}
                        <div class="col-12 d-flex p-0 mt-2 ">
                            <div class="mt-2 col-6 pl-0">
                                <select id="smoothing_data" name="smoothing_data" class="form-control form-select">
                                    <option value="">Chọn Smoothing</option>
                                    <option value="moving_average">Moving average smoothing</option>
                                    <option value="exponential">Exponential smoothing</option>
                                    <option value="double_exponential">Double exponential smoothing</option>    
                                </select>
                            </div>
                            <div class="mt-2  col-6 p-0">
                                <input type="number" class="form-control" id="smoothing_value" placeholder="Windown/Alpha">
                            </div>
                        </div>
                        {% endif %}

                        <div id='myChart' class="col-12 mt-3 p-0">
                            <div id="loadChartLoading" class="card d-none">
                                <div class="d-flex justify-content-center my-3">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <span class="ml-2">Đang tải</span>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="tab-pane fade text-dark" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">
                    <h5 class="text-uppercase text-dark font-bold">Transform dataset to make it Stationary</h5>
                    <div class="row mt-3">
                        <div class="col-12 col-xl-3">
                            <div class="form-check">
                                {% if stationary_option %}
                                {% for option in stationary_option %}
                                {% for i, v in option.items() %}
                                <div class="mt-3">
                                    <input class="form-check-input" value={{ i }} type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        {{ v }}
                                    </label>

                                    {% if i == 'DIFF' %}
                                    <div id="applyLog" class="mt-2 d-none">
                                        <label>Chọn Lag: </label>
                                        <select class="form-control" id="applyDiffSeasonal">
                                            {% for n in range(1, 30) %}
                                            <option>{{ n }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}

                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div id="stationary" class="d-none card mt-3 font-weight-bold">
                                <div class="card-body p-2">
                                    <p id="pValue" class="mt-3 text-primary"></p>
                                    <p id="pValueDesc" class="text-primary"></p>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div id="loadStationary" class="col-12 col-xl-9 d-none justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div id="plotStationaryData" class="col-12 col-xl-9">

                            <div id='myDivStationary' class="col-12"></div>
                            <div id='myACF' class="col-12"></div>
                            <div id='myPACF' class="col-12"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade text-dark" id="v-pills-messages" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">

                    <form id="trainModelForm" action="" method="post">
                        <h5 class="text-uppercase text-dark font-bold">Kích thước chia tập dữ liệu</h5>
                        <div class="d-flex align-items-center my-3">

                            <input id="size" name="size" value="80" min="0" max="100" type="range"
                                class="form-range mr-2" style="width: 80%;" />

                            <span>
                                <span id="curr">50%</span>
                            </span>
                        </div>

                        <h5 class="text-uppercase text-dark font-bold mt-4">Chọn tham số</h5>
                        <div id="param" class="col-12 col-xl-6">
                            {% if params_render %}
                            {% for value in params_render %}
                            {% for k, v in value.items() %}
                            <div class="input-group mt-3">
                                <span class="input-group-text  rounded-start"> {{ k }}</span>
                                {% for i in v %}
                                {% if i == 'exogenous' %}
                                <div id="checkboxContainer" class="ml-3">
                                </div>
                                {% else %}
                                <input type="text" id='{{ i }}' name='{{ i }}' placeholder='{{ i }}'
                                    class="form-control">
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}

                        </div>
                        <div id="param" class="col-12 col-xl-12 mt-4">
                            <button type="submit" class="w-100 btn btn-primary">Train mô hình</button>
                        </div>
                    </form>


                </div>
                <div class="tab-pane fade" id="detail-content" role="tabpanel" aria-labelledby="detail-tab">
                    <h5 class="text-uppercase text-dark font-bold mt-4">Chi tiết mô hình
                        <button type="button" id="reloadModel" class="btn btn-outline-secondary"><i
                                class="bi bi-arrow-repeat"></i></button>
                    </h5>

                    <div class="row">
                        <div class="col-12 col-xl-3">
                            <div class="card shadow mb-4">

                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class="m-0 font-weight-bold text-primary">Thông tin mô hình</h5>
                                </div>

                                <div class="card-body">
                                    <div class="chart-pie d-flex flex-column align-items-start">
                                        <h6 class="mb-4" style="display: block; text-align: left">
                                            Tên mô hình: <span id="model_detail_name">(Trống)</span>
                                        </h6>
                                        <h6 class="mb-4" style="display: block; text-align: left">
                                            Đánh giá:
                                        </h6>
                                        <p class="mb-4 ml-2" style="display: block; text-align: left"> MAPE: <span
                                                id="model_detail_mape">(Trống)</span></p>
                                        <p class="mb-4 ml-2" style="display: block; text-align: left"> RMSE: <span
                                                id="model_detail_rmse">(Trống)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-9">
                            <div class="card shadow">
                                <div id='myChartTrainModel' class="col-12"></div>
                            </div>
                        </div>
                    </div>

                    <div id="param" class="col-12 col-xl-12 mt-4">
                        <button type="button" id="submitModel" class="w-100 btn btn-primary">Submit mô hình</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modelTrainingInProcess" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <p class="text-center">Train mô hình</p>

                    <div class="">
                        <div class="row align-items-start">
                            <div id="pipeline-step" class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h6 class="card-title text-primary font-bold font-weight-normal">
                                            <div class='spinner-border text-secondary'
                                                style="width: 15px; height: 15px;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            Setup Pipeline
                                        </h6>
                                        <span class="badge badge-primary">Đang xử lí</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/6.2.10/css/jsplumb.min.css"
    integrity="sha512-TEiIjPFAwtobaoJBrKZz1R/mzqgXvWIJt+nmgRQzPx4od18DsipNhW14gdXuDGd3ypZzAj6ks3EI0vSjrHeQPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script src="js/train-model.js"></script>

{% endblock %}